<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

{{#scope}}

  <servers>
    <server>
      <id>github</id>
      <username>{{githubUser}}</username>
      <password>${GITHUB_TOKEN}</password>
    </server>
    <server>
      <id>wutsi-stream</id>
      <username>{{githubUser}}</username>
      <password>${GITHUB_TOKEN}</password>
    </server>
{{#services}}
    {{#cache}}
    <server>
      <id>wutsi-spring-memcached</id>
      <username>{{githubUser}}</username>
      <password>${GITHUB_TOKEN}</password>
    </server>
    {{/cache}}
    {{#mqueue}}
    <server>
      <id>wutsi-stream-rabbitmq</id>
      <username>{{githubUser}}</username>
      <password>${GITHUB_TOKEN}</password>
    </server>
    {{/mqueue}}
{{/services}}
  </servers>

{{/scope}}
</settings>
