{{#scope}}
{{#services}}
  {{#database}}
spring:
  flyway:
    clean-disabled: true

  jpa:
    show-sql: true

  datasource:
    url: ${SPRING_DATABASE_URL}
    username: ${SPRING_DATABASE_USERNAME}
    password: ${SPRING_DATABASE_PASSWORD}
  {{/database}}

  {{#cache}}
memcached:
  enabled: true
  username: ${MEMCACHIER_USERNAME}
  password: ${MEMCACHIER_PASSWORD}
  servers: ${MEMCACHIER_SERVERS}
  {{/cache}}

{{/services}}
{{/scope}}
