{{#scope}}
{
  "name": "{{herokuApp}}",
{{#description}}
  "description": "{{description}}",
{{/description}}
  "env": {
    "APP_PROFILE": {
      "description": "Spring Profile",
      "generator": "test"
    }
  },
  "buildpacks": [
    {
      "url": "heroku/java"
    }
  ],
  "addons": [
    {
      "plan": "papertrail:choklad",
      "as": "LOGGER"
    }
  ]
}
{{/scope}}
