{{#scope}}

name: master

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest
{{#services}}
  {{#database}}
    services:
      postgres:
        image: postgres:11
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: {{databaseName}}
        ports:
          - 5432:5432
  {{/database}}
{{/services}}

    steps:
      - uses: actions/checkout@v2
      - name: JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: {{jdkVersion}}
      - name: Build
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          mvn -q -s settings.xml install

      {{#herokuApp}}
      - name: HerokuCLI
        run: |
          curl https://cli-assets.heroku.com/install.sh | sh
          heroku plugins:install @heroku-cli/plugin-java

      - name: Heroku-Deploy-Test
        env:
          HEROKU_API_KEY: ${{secrets.HEROKU_API_KEY_TEST}}
          HEROKU_APP: {{herokuApp}}-test
        {{#services}}
          {{#mqueue}}
          CLOUDAMQP_URL: ${{secrets.CLOUDAMQP_URL_TEST}}
          {{/mqueue}}
        {{/services}}
        run: |
          heroku apps | grep ${HEROKU_APP} && echo 'app: ${HEROKU_APP} exists' ||  heroku apps:create ${HEROKU_APP}
          heroku buildpacks:clear --app ${HEROKU_APP}
          heroku buildpacks:add heroku/jvm --app ${HEROKU_APP}
          heroku config:set --app ${HEROKU_APP} APP_PROFILE=test
        {{#herokuAddons}}
          heroku addons -a ${HEROKU_APP} | grep {{addonName}} && echo 'addon: {{addonName}} exists' ||  heroku addons:create {{addonName}} -a ${HEROKU_APP}
        {{/herokuAddons}}
        {{#services}}
          {{#mqueue}}
          heroku config:set --app ${HEROKU_APP} APP_PROFILE=${CLOUDAMQP_URL}
          {{/mqueue}}
        {{/services}}
          heroku deploy:jar target/{{artifactId}}.jar --app ${HEROKU_APP}
          echo Health check....
          sleep 90
          curl -sSf https://${HEROKU_APP}.herokuapp.com/actuator/health >> /dev/null

      - name: Heroku-Deploy-Prod
        env:
          HEROKU_API_KEY: ${{secrets.HEROKU_API_KEY_PROD}}
          HEROKU_APP: {{herokuApp}}-prod
        {{#services}}
          {{#mqueue}}
          CLOUDAMQP_URL: ${{secrets.CLOUDAMQP_URL_PROD}}
          {{/mqueue}}
        {{/services}}
        run: |
          heroku apps | grep ${HEROKU_APP} && echo 'app: ${HEROKU_APP} exists' ||  heroku apps:create ${HEROKU_APP}
          heroku buildpacks:clear --app ${HEROKU_APP}
          heroku buildpacks:add heroku/jvm --app ${HEROKU_APP}
          heroku config:set --app ${HEROKU_APP} APP_PROFILE=prod
        {{#herokuAddons}}
          heroku addons -a ${HEROKU_APP} | grep {{addonName}} && echo 'addon: {{addonName}} exists' ||  heroku addons:create {{addonName}} -a ${HEROKU_APP}
        {{/herokuAddons}}
        {{#services}}
          {{#mqueue}}
          heroku config:set --app ${HEROKU_APP} APP_PROFILE=${CLOUDAMQP_URL}
          {{/mqueue}}
        {{/services}}
          heroku deploy:jar target/{{artifactId}}.jar --app ${HEROKU_APP}
          echo Health check....
          sleep 90
          curl -sSf https://${HEROKU_APP}.herokuapp.com/actuator/health >> /dev/null
      {{/herokuApp}}
{{/scope}}
