{{#scope}}

name: pull_request

on: [ pull_request ]

jobs:
  build:

    runs-on: ubuntu-latest
{{#services}}
  {{#database}}
    services:
      postgres:
        image: postgres:11
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: {{databaseName}}
        ports:
          - 5432:5432
  {{/database}}
{{/services}}

    steps:
      - uses: actions/checkout@v1
      - name: JDK
        uses: actions/setup-java@v1
        with:
          java-version: {{jdkVersion}}
      - name: Build
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          mvn -q -s settings.xml install

{{/scope}}
